.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid #dee2e6;
  background-color: black;
}

.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 1.5rem;
  padding-top: calc(10vh + 1rem);
}

.shopContainer h1 {
  font-size: 48px;
  margin: 0;
}

.footer {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #dee2e6;
}
.footer p {
  margin: 0;
  font-size: 14px;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 32px;
    width: 80%;
    padding: 16px;
    margin-top: 1rem;
    
}

.itemCard {
  width: 20vw;
  height: auto;
  min-height: 40vh;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
}

.itemCard img {
  width: 90%;
  height: 40%;
  object-fit: contain;
  border-radius: 4px;
}

.itemDescription {
    width: 100%;
    height: auto;
    max-height: calc(1.3em * 4); /* 4 lines */
    margin: 8px 0;
    font-size: 16px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}

.itemCard:hover .itemDescription {
    -webkit-line-clamp: unset;
    height: auto;
    max-height: none;
}