.nav ul {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.cartLink {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cartIcon {
    color: currentColor;
}